@import "~vars";

.header {
    padding: $spacing-normal;
    margin: 0;
    background: $color-main-dark;
    color: $color-white;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    a {
        color: $color-white;
        &:hover {
            text-decoration: underline;
        }
    }
    * {
        margin: 0;
        padding: 0;
    }
}
