@import "~vars";

.header {
    margin: 0;
    padding: 0 $spacing-normal;
    color: $color-white;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 15px rgba($color-black, .5);
    position: relative;
    z-index: $layer-header;
    a {
        color: $color-white;
        &:hover {
            text-decoration: underline;
        }
    }
    * {
        margin: 0;
        padding: 0;
    }
}


.devopsHealth {
    text-align: right;
    a {
        margin: 0 $spacing-normal;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
