@import "~vars";

.pageLink {
    color: $color-white;
    font-weight: bold;
    padding: $spacing-normal;
    font-size: 1.75vw;
    border-bottom: 5px solid transparent;
    flex-grow: 1;
    text-align: center;
    &:hover {
        color: $color-white;
        opacity: 1;
        border-color: $color-main-dark;
    }
}

.active {
    border-color: transparent;
    background: $color-white;
    color: $color-black;
    opacity: 1;
    &:hover {
        border-color: transparent;
        color: $color-black;
    }
}
