@import "~vars";

.header__pages {
    background: $color-main;
    display: flex;
}

.header__pages__page {
    color: $color-white;
    font-weight: bold;
    padding: $spacing-normal;
    font-size: $font-size-large;
    border-bottom: 3px solid transparent;
    flex-grow: 1;
    &:hover {
        color: $color-white;
        opacity: 1;
        border-color: $color-main-dark;
    }
}
