.applicationWindow {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.mainWindow {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainWindow--viewport {
    padding: $spacing-normal;
    flex-grow: 1;
    flex-basis: 75%;
    overflow: auto;
}
