.applicationWindow {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.sideBarWindowContainer {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.mainWindow {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainWindow--viewport {
    padding: $spacing-normal;
    flex-grow: 1;
    flex-basis: 75%;
    overflow: auto;
    border-left: 1px solid $color-gray;
}

.sideBar {
    background: #333;
    overflow: auto;
}
