.gutter {
    background: $color-light-gray;
    position: relative;
}

.gutter-vertical {
    z-index: $layer-vertical-gutter;
    cursor: row-resize;
    border-top: 1px solid $color-gray;
}

.gutter-horizontal {
    z-index: $layer-horizontal-gutter;
    cursor: col-resize;
}
