.gutter {
    background: $color-light-gray;
    border: 1px solid $color-gray;
    position: relative;
    &:before {
        content: "...";
        font-weight: bold;
        color: $color-gray;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
    }
}

.gutter-vertical {
    border-left: 0;
    border-right: 0;
}

.gutter-horizontal {
    border-top: 0;
    border-bottom: 0;
}
