@import "~vars";

.toolbar {
    text-align: right;
}

.status {
    font-weight: bold;
    margin-right: $spacing-normal;
}

.dependencyName {
    font-weight: bold;
    font-size: $font-size-large;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.statusCol {
    vertical-align: middle;
}

.installed, .notInstalled {
    font-size: $font-size-large;
}

.installed {
    color: $color-green;
}

.notInstalled {
    color: $color-red;
}

.infoCol {
    word-break: normal !important;
}

.dependencyDescription {
    margin-top: $spacing-tiny;
    font-size: $font-size-small;
}

.optional {
    margin-left: $spacing-normal;
    font-size: $font-size-smaller;
    text-decoration: none;
    font-weight: normal;
    &:before {
        content: "("
    }
    &:after {
        content: ")"
    }
}

.actionLinks {
    margin-top: $spacing-small;
    display: flex;
    justify-content: flex-end;
    :global .anticon {
        cursor: pointer;
        margin-left: $spacing-small;
    }
}
