const config = {
    // Your application's current working directory
    cwd: '/path/to/my/source/files',

    // Application-level configuration
    app: {
        title: 'lagniappe',
        width: 1024,
        height: 728,
        frame: false,
        resizable: true,
        transparent: false,
    },

    // Jira integration configuration. Leave blank if you're not using Jira
    jira: {
        baseUrl: 'http://my-company.atlassian.net/',
        comments: true,

        // Custom Jira fields to include when displaying the full task. Only
        // these custom fields will be shown when you view a ticket.
        custom_fields: {
            // E.g., 11009
            'fieldId': 'Field Label'
                        // E.g., "Release Task"
        }
    }
}

export default config
