import React from 'react'
import { Route, IndexRoute } from 'react-router'

import App               from 'lagniappe/components/App'
import Apps              from 'lagniappe/components/Apps'
import Config            from 'lagniappe/components/Config'
import Docker            from 'lagniappe/components/Docker'
import Git               from 'lagniappe/components/Git'
import Leaderboard       from 'lagniappe/components/Git/Leaderboard'
import Documentation     from 'lagniappe/components/Documentation'
import DocumentationPage from 'lagniappe/components/Documentation/Page'

import Home              from 'components/Home'

export default (
  <Route path="/" component={App}>
    <IndexRoute component={Home} />
    <Route path="/config" component={Config} />
    <Route path="/apps" component={Apps} />
    <Route path="/docker" component={Docker} />
    <Route path="/git">
        <IndexRoute component={Git} />
        <Route path="leaderboard" component={Leaderboard} />
    </Route>
    <Route path="/docs">
        <IndexRoute component={Documentation} />
        <Route path="/*" component={DocumentationPage} />
    </Route>
  </Route>
)
