@import "~vars";

.MainJiraWindow {
    margin-top: $spacing-normal;
}

.LoginForm {

}

.LoginFormGroup {
    margin-bottom: $spacing-normal;
}

.MyIssuesReloadButton {
    float: left;
    margin-right: $spacing-small;
}

.IssuesListFilters {
    margin-bottom: $spacing-normal;
}

.IssueDescription {
    font-size: $font-size-small;
}

.Closed {
    text-decoration: line-through;
}

.KeyRow {
    word-wrap: normal;
    white-space: nowrap;
}

.TitleRow {
    word-wrap: break-word;
}

.List__Title {
    font-weight: bold;
    display: block;
}

.TitleRowInfo {
    font-size: $font-size-tiny;
    color: rgba($color-black, .5);
}

.FieldLabel {
    font-size: $font-size-small;
}

.IssueNameOnIssuePage {
    border: none;
}

.Ago {
    color: $color-black;
    font-weight: bold;
    display: block;
    margin: 0 0 $spacing-normal;
}

.AgoLabel {
    display: block;
}

.IssueMeta {
    font-size: $font-size-small;
    b {
        font-size: $font-size-tiny;
        color: $color-dark-gray;
    }
    hr {
        margin: $spacing-normal 0;
        border: 0;
    }
}

.IssueMetaIcons {
    margin-bottom: $spacing-normal;
    i {
        cursor: pointer;
    }
}

.Attachments {
    margin-top: $spacing-normal;
    overflow: hidden;
    width: 100%;
}

.AttachmentsInnerScroller {
    min-width: 100%;
    max-height: 35vh;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: inset 2px 2px 9px 0 rgba(0, 0, 0, .15);
    background: $color-light-gray;
    padding: $spacing-small 0;
    text-align: center;
}

.AttachmentBox {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: $spacing-small;
    cursor: pointer;
    &:hover .AttachmentAttribution {
            color: $color-black;
    }
}

.AttachmentAttribution {
    color: $color-gray;
    font-size: $font-size-tiny;
    &:hover {
        color: $color-black;
    }
}

.AttachmentModalImageWindow {
    overflow: scroll;
    max-height: 50vh;
    max-width: 50vw;
}

.BackLink {
    margin: $spacing-normal 0;
}

.IssuePrStatus {
    margin: 0 0 0 1rem;
    border: 1px solid $color-black;
    padding: 5px 7px;
    border-radius: 3px;
}

.DevStatus {
    margin-top: $spacing-normal;
}

:global {
    .IssueOpen {
        color: purple;
        border-color: purple;
    }

    .IssueMerged {
        color: $color-green;
        border-color: $color-green;
    }
}

.PullRequest {
    display: flex;
}

.PRInfo {
    margin-left: $spacing-small;
    flex-grow: 1;
}

.PRTitle {
    font-size: $font-size-small;
    font-weight: bold;
}

.PRMeta {
    margin-top: $spacing-tiny;
    font-size: $font-size-tiny;
}

.PRBranchActions {
}
