@import '~vars';

.commit {
    font-size: $font-size-tiny;
    color: rgba($color-black, .5);
    font-weight: bold;
    display: inline-block;
}

.author {

}

.meta {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.operationsButton {
    order: 3;
    cursor: pointer;
    opacity: .25;
    &:hover, &:active, &:focus {
        opacity: 1;
    }
}

.operationsMenu {
    border-right: 0;
    background: transparent;
}

.message {
    margin-top: $spacing-small;
    overflow-wrap: break-word;
}

.author {
    font-weight: bold;
}

.date {
    margin-left: $spacing-tiny;
    color: rgba($color-black, .5);
    font-style: italic;
    font-size: $font-size-tiny;
}

.branch {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: $font-size-small;
    margin: $spacing-tiny;
    text-indent: -#{$spacing-normal};
    padding-left: $spacing-normal;
    color: $color-black;
    display: block;
}

.currentBranch {
    font-weight: bold;
}

.loading {
    pointer-events: none;
    opacity: .25;
}

.leaderboardLink {
    font-size: $font-size-small;
    font-weight: normal;
    float: right;
}
