@import "~vars";

.ServiceStatusTag {
    float: right;
}

.ServiceRow {
    margin-top: $spacing-normal;
}

.Path {
    font-size: $font-size-tiny;
    word-wrap: break-word;
}

.linkRow {
    + .linkRow {
        margin-top: $spacing-large;
    }
}
