@import "~vars";

.commandsContainer {
    background: $color-light-gray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}

.tabsContainer {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
}
