@import "~vars";

.commandsContainer {
    background: $color-light-gray;
    padding: $spacing-normal;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-height: 300px;
}

.commandsContainer__header {
    text-transform: uppercase;
    color: $color-gray;
    font-size: $font-size-base;
    margin: -#{$spacing-normal} 0 0 -#{$spacing-normal};
    padding: $spacing-small;
}

.commandsContainer__tabsContainer {
    display: flex;
    overflow: hidden;
    min-height: $spacing-normal * 1.5;
}

.dragger {
    position: absolute;
    display: block;
    color: rgba(0,0,0,0);
    background: $color-gray;
    font-size: 0;
    max-height: $spacing-small;
    height: $spacing-small;
    left: 0;
    right: 0;
    top: -($spacing-normal / 2);
    overflow: visible;
    cursor: row-resize;
    transition: transform .15s ease-in-out;
    -webkit-user-select: none;
}

.dragging {
    transform: scaleY(4);
}
